<h1>Create a new subject</h1>

<form action="/sub" method="post">

<div>
<label for="">Subject Name</label>
<input type="text" class="form-control" name="subject name">

</div>

<div>
<label for="">Subject Code</label>
<input type="text" class="form-control" name="subject code">

</div>

<div>
<label for="">Department</label>
<select  id="" class="form-select" name= "department">
{{#each departments}}

<option value="{{_id}}">{{name}}</option>

{{/each}}
</select>
</div>

<div>
<label for="">Pre Requisite</label>
<input type="text" class="form-control" name="pre requisite">

</div>
 <div>
    <button class="btn btn-success" type="submit">save</button>
 </div>

</form>